@import "../../styles";
@import "../../elements";

#person-form {
  background-color: $light-color-pale;
  color: $dark-color;
  padding: $default-padding;
  width: 100%;
  margin-bottom: 1px;
}

.person-name {
  font-weight: bold;
}
