<main>
  <header><h2>Регистрация</h2></header>
  <article>
    <section class="small-form" (keyup.enter)="register()">
      <input [(ngModel)]="login" type="text" appAutofocus placeholder="Логин">
      <input [(ngModel)]="password1" type="password" placeholder="Пароль">
      <input [(ngModel)]="password2" type="password" placeholder="Повторите пароль">
      <button (click)="register()">Зарегистрироваться</button>
    </section>
    <section class="small-form-links"><a routerLink="/login">Уже есть аккаунт</a></section>
  </article>
</main>
