<div id="registration-wrapper">
  <article>
    <div id="registration-faq">
      <h1>Buycycle</h1>
      <p><a>Уже есть аккаунт?</a></p>
      <p><a>Зачем мне buycycle?</a></p>
      <p><a>Связь с нами</a></p>
      <p><a>Еще немножко бесполезного текста</a></p>
      <p><a>И еще совсем чуть-чуть</a></p>
    </div>
    <div id="registration-form" (keyup.enter)="submit()">
      <h3>Начните разбираться в совместных тратах прямо сейчас!</h3>
      <section>
        <p>Введите имя рассчета:</p>
        <p><input type="text" [(ngModel)]="newAccount.name" placeholder="Поход по фастфудам"/></p>
        <p><button (click)="submit()">Начать!</button></p>
      </section>
    </div>
  </article>
</div>
