<div class="section-header">Долги</div>
<ng-container *ngFor="let person of persons | keyvalue">
  <ng-container *ngIf="person.value.lenders.size !== 0 || person.value.borrowers.size !== 0">
    <div class="container">
      <div class="debtors-person-name">{{person.value.name}}</div>
      <div *ngFor="let lender of person.value.lenders | keyvalue">
        <div class="limiter">должен <b>отдать</b> {{lender.value}} {{persons.get(lender.key).name}}</div>
        <button class="done-button" (click)="addTransfer(person.key, lender.key, lender.value)">Сделано</button>
      </div>
      <div *ngFor="let borrower of person.value.borrowers | keyvalue">
        <div class="limiter">должен <b>получить</b> {{borrower.value}} от {{persons.get(borrower.key).name}}</div>
        <button class="done-button" (click)="addTransfer(borrower.key, person.key, borrower.value)">Сделано</button>
      </div>
    </div>
    <hr/>
  </ng-container>
</ng-container>
