<div class="section-header">Долги</div>
<ng-container *ngFor="let person of persons | keyvalue">
  <div *ngIf="person.value.lenders.size !== 0 || person.value.borrowers.size !== 0">
    <div class="debtors-person-name">{{person.value.name}}</div>
    <div *ngFor="let lender of person.value.lenders | keyvalue">
      должен <b>отдать</b> {{lender.value}} {{persons.get(lender.key).name}}
      <fa-icon class="inline-control" [icon]="['fas', 'check']"></fa-icon>
    </div>
    <div *ngFor="let borrower of person.value.borrowers | keyvalue">
      должен <b>получить</b> {{borrower.value}} от {{persons.get(borrower.key).name}}
      <fa-icon class="inline-control" [icon]="['fas', 'check']"></fa-icon>
    </div>
  <hr/>
  </div>
</ng-container>
