<div class="card" *ngIf="transfer && !isEdited">
  <div class="card-title">
    <a href="">{{persons.get(transfer.value.from).name}}</a>
    отдал
    <a href="">{{persons.get(transfer.value.to).name}}</a>
    {{transfer.value.amount}}
  </div>
  <div class="card-controls">
    <fa-icon (click)="edit()" [icon]="['fas', 'pencil-alt']"></fa-icon>
    <fa-icon (click)="remove(transfer.key)" [icon]="['fas', 'times']" size="lg"></fa-icon>
  </div>
</div>
<div class="active-card" *ngIf="transfer && isEdited" (keyup.enter)="submit()">
  <input [(ngModel)]="editedTransfer.amount" placeholder="Сумма" appAutofocus/><br/>
  <p>
    <label>Отправитель <select [(ngModel)]="editedTransfer.from">
      <option value="" disabled selected>Кто?</option>
      <option *ngFor="let person of persons | keyvalue" value="{{person.key}}">{{person.value.name}}</option>
    </select></label>
  </p>
  <p>
    <label>Получатель <select [(ngModel)]="editedTransfer.to">
      <option value="" disabled selected>Кто?</option>
      <option *ngFor="let person of persons | keyvalue" value="{{person.key}}">{{person.value.name}}</option>
    </select></label>
  </p>
  <button (click)="submit()">Сохранить</button>
  <button (click)="cancel()">Отмена</button>
</div>
