<div class="card" *ngIf="transfer && !isEdited">
  <div class="card-controls" *ngIf="isEditable">
    <fa-icon (click)="edit()" [icon]="['fas', 'pencil-alt']"></fa-icon>
    <fa-icon (click)="remove(transfer.key)" [icon]="['fas', 'times']" size="lg"></fa-icon>
  </div>
  <i>{{persons.get(transfer.value.receiver).name}}</i> получил
  <i>{{transfer.value.amount | number:'1.2-2'}}</i>
  от
  <i>{{persons.get(transfer.value.sender).name}}</i>
</div>
<div class="active-card" *ngIf="transfer && isEdited" (keyup.enter)="submit()">
  <p *ngFor="let errorText of errorTexts">
    <app-error [text]="errorText"></app-error>
  </p>
  <input [(ngModel)]="editedTransfer.amount" placeholder="Сумма" appAutofocus type="number"/>
  <p>
    <label>Отправитель <select [(ngModel)]="editedTransfer.sender">
      <option *ngFor="let person of persons | keyvalue" value="{{person.key}}">{{person.value.name}}</option>
    </select></label>
  </p>
  <p>
    <label>Получатель <select [(ngModel)]="editedTransfer.receiver">
      <option *ngFor="let person of persons | keyvalue" value="{{person.key}}">{{person.value.name}}</option>
    </select></label>
  </p>
  <button (click)="submit()">Сохранить</button>
  <button (click)="cancel()">Отмена</button>
</div>
