@import "../../styles";

.deal-type-button {
  border-radius: 0;
  background-color: $light-color-bright;
  color: $dark-color;
  margin: 0 2px 0 0;
}

.selected-type {
  background-color: $light-color-pale;
}

.deal-type-button:focus {
  outline: none;
}

#deal-form {
  background-color: $light-color-pale;
  color: $dark-color;
  padding: $default-padding;
  width: 100%;
  margin-bottom: 1px;
}

.deal-control-button {
  margin-right: 4px;
}
