@import "../../styles";
@import "../../elements";

.deal-type-button {
  border-radius: 0;
  background-color: $light-color-bright;
  color: $dark-color;
  margin: 0 2px 0 0;
}

.selected-type {
  background-color: $light-color-pale;
}

.deal-type-button:focus {
  outline: none;
}

#deal-form {
  margin-top: 0;
}

