@import "../../styles";

.deal-name {
  background-color: $light-color-bright;
  font-size: $bigger-font-size;
  color: $dark-color;
  border-radius: $default-radius;
  padding: 7px;
  width: calc(61% - 8px);
  font-weight: bold;
  display: inline-block;
}

.deal-price {
  background-color: $secondary-color;
  font-size: $big-font-size;
  color: $light-color-bright;
  width: calc(39% - 10px);
  padding: 5px;
  margin: 0 5px;
  display: inline-block;
}

.deal-price::placeholder {
  color: $light-color-pale;
}

.person-list-item {
  background-color: $secondary-color-other;
  color: $light-color;
  border-radius: $default-radius;
  padding: 5px;
}

hr {
  border: none;
  border-top: 1px solid $dark-color-bright;
}
