<div *ngIf="deal">
  <input [(ngModel)]="deal.name" placeholder="Название" required="required"/><br/>
  <input [(ngModel)]="deal.price" placeholder="Стоимость" required="required"/><br>
  <label><select [(ngModel)]="deal.lender" required="required">
    <option *ngFor="let member of deal.members" value="{{member}}">
      {{persons.get(member).name}}
    </option>
  </select> платит за всех: </label>
  <div *ngFor="let member of deal.members">
    {{persons.get(member).name}}
    <button (click)="deleteMember(member)">X</button>
  </div>
</div>
