@import "../styles.scss";

$header-height: 40px;

header {
  background-color: $secondary-color;
  height: $header-height;
  width: 100%;
  display: block;
  float: left;
}

#header-icon {
  font-size: 24px;
  color: $light-color;
  font-weight: bold;
  margin: calc((#{$header-height} - 30px) / 2) 40px;
  height: 30px;
}

app-debtors, app-deals, app-persons, app-transfers {
  display: block;
  float: left;
  margin: 0 $default-margin $default-margin 0;
  box-sizing: border-box;
  overflow-y: auto;
}

app-debtors {
  width: calc(55% - #{$default-margin});
  height: calc(100% - 2 * #{$default-margin});
  padding: 0 2 * $default-padding;
}

app-deals {
  width: calc(45% - #{$default-margin});
  height: calc(100% - 2 * #{$default-margin});
}

app-transfers {
  width: calc(100% - #{$default-margin});
  height: calc(50% - #{$default-margin});
}

app-persons {
  width: calc(100% - #{$default-margin});
  height: calc(50% - #{$default-margin});
}

#primary-col {
  margin-left: $default-margin;
  margin-top: 2 * $default-margin;
  width: calc(70% - #{$default-margin});
  height: calc(100% - #{$header-height});
  display: block;
  float: left;
}

#secondary-col {
  margin-top: 2 * $default-margin;
  width: 30%;
  height: calc(100% - #{$default-margin} - #{$header-height});
  display: block;
  float: left;
}
