@import "../styles.scss";

$header-height: 50px;
$footer-height: 40px;
:host {
  display: block;
  float: left;
}

header {
  background-color: $secondary-color;
  height: $header-height;
  width: 100vw;
  display: block;
  float: left;
}

#header-icon {
  font-size: $biggest-font-size;
  line-height: $header-height;
  color: $light-color;
  font-weight: bold;
  margin: 0 $default-margin;
}

footer {
  font-size: $small-font-size;
  width: 100vw;
  margin-top: 10px;
  height: $footer-height - 10px;
  line-height: ($footer-height - 10px);
  text-align: center;
  color: $dark-color-bright;
  vertical-align: bottom;
  float: left;
}

@media (min-width: $max-width) {
  #dashboard {
    width: $max-width;
    margin: 0 calc((100% - #{$max-width}) / 2);
  }

  #header-content {
    width: $max-width;
    margin: 0 calc((100% - #{$max-width}) / 2);
  }
}

@media (max-width: $max-width - 1px) {
  #dashboard {
    width: 100%;
  }

  #header-content {
    width: 100%;
  }
}

@media (min-width: 1025px) {
  #dashboard {
    height: calc(100% - #{$header-height} - #{$footer-height});
    float: left;
  }

  #primary-col {
    margin-left: $default-margin;
    margin-top: 2 * $default-margin;
    width: calc(70% - #{$default-margin});
    height: calc(100% - 3 * #{$default-margin});
    display: block;
    float: left;
  }

  #secondary-col {
    margin-top: 2 * $default-margin;
    width: 30%;
    height: calc(100% - 3 * #{$default-margin});
    display: block;
    float: left;
  }

  app-debtors, app-deals, app-persons, app-transfers {
    display: block;
    margin: 0 $default-margin $default-margin 0;
    box-sizing: border-box;
    overflow-y: auto;
  }

  app-debtors {
    width: calc(55% - #{$default-margin});
    height: calc(100% - 2 * #{$default-margin});
    padding: 0 2 * $default-padding;
    float: right;
  }

  app-deals {
    width: calc(45% - #{$default-margin});
    height: calc(100% - 2 * #{$default-margin});
    float: right;
  }

  app-transfers, app-persons {
    width: calc(100% - #{$default-margin});
    height: calc(50% - #{$default-margin});
    float: left;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  #dashboard {
    height: calc(100% - #{$header-height} - #{$footer-height});
    float: left;
  }

  #primary-col, #secondary-col {
    margin-top: 2 * $default-margin;
    height: calc(100% - 2 * #{$default-margin});
    display: block;
    float: left;
  }

  #primary-col {
    margin-left: $default-margin;
    width: calc(61% - #{$default-margin});
  }

  #secondary-col {
    width: 39%;
  }

  app-debtors, app-deals, app-persons, app-transfers {
    display: block;
    float: left;
    margin: 0 $default-margin $default-margin 0;
    box-sizing: border-box;
    overflow-y: auto;
    width: calc(100% - #{$default-margin});
    height: calc(50% - #{$default-margin});  }

  app-debtors {
    padding: 0 2 * $default-padding 0 0;
  }
}

@media (max-width: 599px) {
  #dashboard {
    float: left;
  }

  #primary-col {
    margin-top: 2 * $default-margin;
  }

  #primary-col,  #secondary-col {
    width: 100%;
    display: block;
    float: left;
  }

  app-debtors, app-deals, app-persons, app-transfers {
    display: block;
    float: left;
    margin: $default-margin 0;
    box-sizing: border-box;
    width: 100%;
    padding: 0 $default-padding;
  }
}
