<header>
  <div id="header-content">
    <div id="upper-row">
      <div id="header-icon">
        Buycycle
      </div>
      <!--<div id="account-name">{{account.name}}</div>-->
    </div>
    <div id="lower-row">
      <nav>
        <a routerLink="./dashboard" routerLinkActive="active-nav-a">Обзор</a>
        <a routerLink="./debts" routerLinkActive="active-nav-a">Люди и долги</a>
        <a routerLink="./deals" routerLinkActive="active-nav-a">Покупки</a>
        <a routerLink="./transfers" routerLinkActive="active-nav-a">Переводы</a>
      </nav>
    </div>
  </div>
</header>
<article>
  <router-outlet></router-outlet>
</article>
<footer>Валентинов Александр, Морковкин Василий и Носарева Мария, кафедра корпоративных информационных систем МФТИ, 2019</footer>
