@import "../../../styles";

$header-height: 50px;
$footer-height: 20px;

:host {
  display: block;
  float: left;
  height: 100%;
}

header {
  background-color: $secondary-color;
  width: 100vw;
  display: block;
  float: left;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

article {
  display: inline-flex;
}

#header-icon {
  display: inline-flex;
  font-size: $biggest-font-size;
  height: $header-height;
  line-height: $header-height;
  color: $light-color;
  font-weight: bold;
  margin: 0 $default-margin;
}

#account-name {
  display: inline-block;
  font-size: $big-font-size;
  vertical-align: baseline;
  color: $light-color-bright;
  line-height: $header-height;
  margin: 0 $default-margin;
}

#header-content {
  height: 100%;
}

nav, #lower-row {
  display: flex;
  float: right;
  justify-content: flex-end;
}

#upper-row {
  display: inline-flex;
}

nav a {
  font-size: $bigger-font-size;
  text-decoration: none;
  display: inline-block;
  padding: 0 $default-margin;
  color: $light-color-pale;
  line-height: calc(#{$header-height} - 5px);
  height: 100%;
  white-space: nowrap;
}

.active-nav-a {
  border-bottom: 5px $secondary-color-light solid;
}

main {
  float: left;
  display: flex;
  justify-content: center;
  margin-bottom: 2 * $default-margin;
}

@media (min-width: 850px) {
  header {
    height: $header-height;
  }

  nav, #lower-row, #upper-row {
    width: max-content;
    height: 100%;
  }

  main {
    height: calc(100% - #{$header-height} - #{$footer-height} - 4 * #{$default-margin});
    margin-top: $header-height + 2 * $default-margin;
  }
}

@media (max-width: 849px) {
  header {
    height: 2 * $header-height;
  }

  #lower-row {
    height: 50%;
    width: 100%;
    overflow-x: auto;
  }

  #lower-row::-webkit-scrollbar {
    display: none;
  }

  #upper-row {
    height: 50%;
  }

  nav {
    min-width: 100%;
    justify-content: space-between;
  }

  nav a {
    padding: 0 5px;
  }

  main {
    margin-top: 2 * $header-height + 2 * $default-margin;
  }
}

@media (min-width: $max-width) {
  main {
    width: $max-width - 50px;
    margin-left: calc((100% - #{$max-width}) / 2 + 25px);
    margin-right: calc((100% - #{$max-width}) / 2 + 25px);
  }

  #header-content {
    width: $max-width;
    margin: 0 calc((100% - #{$max-width}) / 2);
  }
}

@media (max-width: $max-width - 1px) {
  main {
    width: calc(100% - 2 * #{$default-margin});
    margin-left: $default-margin;
    margin-right: $default-margin;
  }

  #header-content {
    width: 100%;
  }
}

footer {
  font-size: $small-font-size;
  width: 100vw;
  height: $footer-height;
  text-align: center;
  color: $dark-color-bright;
  vertical-align: bottom;
  float: left;
}
