@import "../../../styles";

$header-height: 50px;
$footer-height: 25px;

:host {
  display: block;
  float: left;
  height: 100%;
}

header {
  background: linear-gradient(90deg, $secondary-color, $third-color-pale);
  width: 100vw;
  display: block;
  float: left;
}

#not-header {
  float: left;
  overflow-y: auto;
}

article {
  display: inline-flex;
  justify-content: center;
}

#header-icon, #account-name {
  font-size: $biggest-font-size;
  vertical-align: baseline;
  line-height: $header-height;
  margin-left: $default-margin;
}

#header-icon {
  font-weight: bold;
  color: $light-color-bright;
}

#account-name {
  color: $light-color-pale;
}

#header-content {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

nav, #lower-row {
  display: flex;
  float: right;
  justify-content: flex-end;
}

#upper-row {
  display: inline-flex;
}

nav a {
  font-size: $bigger-font-size;
  text-decoration: none;
  display: inline-block;
  padding: 0 $default-margin;
  color: $light-color-pale;
  line-height: calc(#{$header-height} - 5px);
  height: 100%;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
}

.active-nav-a {
  border-bottom: 5px $third-color solid;
}

main {
  float: left;
  display: flex;
  justify-content: center;
  margin-bottom: 2 * $default-margin;
}

@media (min-width: 850px) {
  header {
    height: $header-height;
  }

  #not-header {
    height: calc(100% - #{$header-height});
  }

  nav, #lower-row, #upper-row {
    width: max-content;
    height: 100%;
  }

  main {
    height: calc(100% - #{$footer-height} - 4 * #{$default-margin});
    margin-top: 2 * $default-margin;
  }

  article {
    width: 100%;
  }
}

@media (max-width: 849px) {
  header {
    height: 2 * $header-height;
    background: linear-gradient($secondary-color, $third-color-pale);
  }

  #not-header {
    height: calc(100% - #{2 * $header-height})
  }

  #header-content {
    flex-direction: column;
  }

  #lower-row {
    height: 50%;
    width: 100%;
    overflow-x: auto;
  }

  #lower-row::-webkit-scrollbar {
    display: none;
  }

  #upper-row {
    height: 50%;
  }

  //#header-icon {
  //  display: none;
  //}

  nav {
    min-width: 100%;
    justify-content: space-between;
  }

  nav a {
    padding: 0 5px;
    flex-grow: 1;
  }

  main {
    margin-top: 2 * $default-margin;
  }
}

@media (min-width: $max-width) {
  main {
    width: $max-width - 50px;
    margin-left: calc((100% - #{$max-width}) / 2 + 25px);
    margin-right: calc((100% - #{$max-width}) / 2 + 25px);
  }

  #header-content {
    width: $max-width;
    margin: 0 calc((100% - #{$max-width}) / 2);
  }
}

@media (max-width: $max-width - 1px) {
  main {
    width: calc(100% - 2 * #{$default-margin});
    margin-left: $default-margin;
    margin-right: $default-margin;
  }

  #header-content {
    width: 100%;
  }
}

footer {
  font-size: $small-font-size;
  width: 100vw;
  height: $footer-height;
  text-align: center;
  color: $dark-color-bright;
  vertical-align: bottom;
  float: left;
}
