<header>
  <div id="header-content">
    <div id="upper-row">
      <span id="header-icon">
        Buycycle
      </span>
      <span id="account-name">
        <ng-container *ngIf="account">{{account.name}}</ng-container>
        <ng-container *ngIf="!account">...</ng-container>
      </span>
    </div>
    <div id="lower-row">
      <nav>
        <a routerLink="./dashboard" routerLinkActive="active-nav-a">Обзор</a>
        <a routerLink="./debts" routerLinkActive="active-nav-a">Люди</a>
        <a routerLink="./deals" routerLinkActive="active-nav-a">Покупки</a>
        <a routerLink="./transfers" routerLinkActive="active-nav-a">Переводы</a>
        <a routerLink="/accounts" routerLinkActive="active-nav-a">Аккаунт</a>
      </nav>
    </div>
  </div>
</header>
<div id="not-header">
  <main>
    <article>
      <router-outlet></router-outlet>
    </article>
  </main>
  <footer>
      Валентинов Александр, Морковкин Василий и Носарева Мария, кафедра корпоративных информационных систем МФТИ, 2019
  </footer>
</div>
