<div class="card" *ngIf="person && !isEdited">
  <div class="card-title"><b>{{person.value.name}}</b></div>
  <div class="card-controls">
    <fa-icon [icon]="['fas', 'pencil-alt']" (click)="edit()"></fa-icon>
  </div>
</div>
<div class="active-card" *ngIf="person && isEdited" (keyup.enter)="submit()">
  <input class="person-name" [(ngModel)]="editedPerson.name" placeholder="Имя" appAutofocus /><br/>
  <button (click)="submit()">Сохранить</button>
  <button (click)="cancel()">Отмена</button>
</div>
