<div *ngIf="deal && persons">
  <section>
    <input class="deal-name" [(ngModel)]="deal.name" placeholder="Название" required appAutofocus/>
    <input class="deal-price" [(ngModel)]="deal.amount" placeholder="Стоимость" type="number" required/>
  </section>
  <hr/>
  <section>
    <p *ngFor="let notBorrower of deal.notBorrowers()">
      <button class="weak-button" (click)="deleteMember(notBorrower)">
      {{persons.get(notBorrower).name}} x
    </button>
      за себя
      <span *ngIf="deal.debtors.has(notBorrower)">
        и за
        <ng-container *ngFor="let borrower of deal.debtors.get(notBorrower); last as isLast">
          <button class="weak-button" (click)="deleteBorrower(notBorrower, borrower)">
            {{persons.get(borrower).name}} x
          </button>
          <ng-container *ngIf="!isLast">, </ng-container>
        </ng-container>
      </span>
      <button class="weak-button" (click)="toggleBorrowerList(notBorrower)" [class.active-button]="notBorrower===activeLender">и за</button>
      <br/>
      <ng-container class="borrower-list" *ngIf="notBorrower === activeLender">
        <ng-container *ngFor="let otherNotBorrower of deal.notDebtors()">
          <ng-container *ngIf="otherNotBorrower !== notBorrower">
            <button class="weak-button" (click)="addBorrower(notBorrower, otherNotBorrower)">
              + {{persons.get(otherNotBorrower).name}}
            </button>
          </ng-container>
        </ng-container>
      </ng-container>
    </p>
    <p>
      <ng-container *ngFor="let person of notMembers() | keyvalue; first as isFirst">
        <hr *ngIf="isFirst"/>
        <button class="weak-button" (click)="addMember(person.key)">
          + {{person.value.name}}
        </button>
      </ng-container>
    </p>
  </section>
</div>
