<header>
  <div class="section-header">Переводы
    <b class="fa-icon-button" *ngIf="!newTransfer" (click)="initEmptyTransfer()">+</b>
  </div>
</header>
<div class="active-card" id="transfers-form" *ngIf="newTransfer && persons" (keyup.enter)="addNewTransfer()">
  <input [(ngModel)]="newTransfer.amount" placeholder="Сумма" appAutofocus type="number"/>
  <hr/>
  <section>
    <p>
      <label>Отправитель <select [(ngModel)]="newTransfer.sender">
        <option value="" disabled selected>Кто?</option>
        <option *ngFor="let person of persons | keyvalue" value="{{person.key}}">{{person.value.name}}</option>
      </select></label>
    </p>
    <p>
      <label>Получатель <select [(ngModel)]="newTransfer.receiver">
        <option value="" disabled selected>Кто?</option>
        <option *ngFor="let person of persons | keyvalue" value="{{person.key}}">{{person.value.name}}</option>
      </select></label>
    </p>
  </section>
  <hr/>
  <section>
    <button (click)="addNewTransfer()">Добавить</button>
    <button (click)="clearTransfer()">Отмена</button>
  </section>
</div>
<ng-container *ngIf="persons">
  <app-transfer *ngFor="let transfer of transfers | keyvalue" [transfer]="transfer" [persons]="persons"></app-transfer>
</ng-container>
