<header class="header">
  <span class="bigger-font" title="После добавления людей здесь можно добавить, кто сколько и кому отдал">
    Переводы
  </span>&nbsp;
  <button *ngIf="!newTransfer && persons && persons.size !== 0" (click)="initEmptyTransfer()">Добавить</button>
</header>
<div class="active-card" id="transfers-form" *ngIf="newTransfer && persons" (keyup.enter)="addNewTransfer()">
  <input [(ngModel)]="newTransfer.amount" placeholder="Сумма" appAutofocus type="number"/>
  <hr/>
  <section>
    <p>
      <label>Отправитель <select [(ngModel)]="newTransfer.sender">
        <option value="" disabled selected>Кто?</option>
        <option *ngFor="let person of persons | keyvalue" value="{{person.key}}">{{person.value.name}}</option>
      </select></label>
    </p>
    <p>
      <label>Получатель <select [(ngModel)]="newTransfer.receiver">
        <option value="" disabled selected>Кто?</option>
        <option *ngFor="let person of persons | keyvalue" value="{{person.key}}">{{person.value.name}}</option>
      </select></label>
    </p>
  </section>
  <hr/>
  <section>
    <button (click)="addNewTransfer()">Добавить</button>
    <button (click)="clearTransfer()">Отмена</button>
  </section>
</div>
<div class="hint" *ngIf="persons && transfers.size === 0">
  <fa-icon [icon]="['fas', 'info-circle']"></fa-icon> После добавления людей здесь можно добавить, кто сколько и кому отдал
</div>
<ng-container *ngIf="persons">
  <app-transfer *ngFor="let transfer of transfers | keyvalue" [transfer]="transfer" [persons]="persons"></app-transfer>
</ng-container>
