<div *ngIf="deal">
  <input class="deal-name" [(ngModel)]="deal.name" placeholder="Название" required="required"/>
  <input class="deal-price" [(ngModel)]="deal.price" placeholder="Стоимость" required="required"/>
  <div *ngFor="let notBorrower of deal.notBorrowers()">{{persons.get(notBorrower).name}} за себя
    <span *ngIf="deal.debtors.has(notBorrower)">
      и за
      <span *ngFor="let borrower of deal.debtors.get(notBorrower); last as isLast">
        {{persons.get(borrower).name}}
        <button (click)="deleteBorrower(notBorrower, borrower)">x</button>
        <ng-container *ngIf="!isLast">, </ng-container>
      </span>
    </span>
    <button (click)="toggleBorrowerList(notBorrower)" [class.active-button]="notBorrower===activeLender">и за</button>
    <button (click)="deleteMember(notBorrower)">X</button><br/>
    <div class="borrower-list" *ngIf="notBorrower === activeLender">
      <ng-container *ngFor="let otherNotBorrower of deal.notDebtors()">
        <ng-container *ngIf="otherNotBorrower !== notBorrower">
          <button class="borrower-list-item" (click)="addBorrower(notBorrower, otherNotBorrower)">
            + {{persons.get(otherNotBorrower).name}}
          </button>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
