@import "../../../styles";
@import "../../../elements";

#person-form {
  background-color: $light-color-pale;
  color: $dark-color;
  padding: $default-padding;
  width: 100%;
  margin-bottom: 1px;
}

.debtors-person-name {
  font-size: $bigger-font-size;
  vertical-align: baseline;
  margin: $default-margin 0;
}

.container {
  position: relative;
}

.limiter {
  padding-right: 90px;
}

.done-button {
  position: absolute;
  right: 0;
  bottom: 0;
}
