@import "../../../styles";
@import "../../../elements";

.debtors-person-name {
  font-size: $bigger-font-size;
  vertical-align: baseline;
  margin: $default-margin 0;
}

.container {
  position: relative;
}

.limiter {
  max-width: calc(100% - 90px);
}

.done-button {
  position: absolute;
  right: 0;
  bottom: 0;
}
