<header class="header">
  <span class="bigger-font" title="После добавления людей здесь можно добавить покупки и указать, кто за кого заплатил">
    Покупки
  </span>&nbsp;
  <button class="fa-icon-button" *ngIf="!isEdited && persons && persons.size !== 0" (click)="initEmptyDeal()">Добавить</button>
</header>
<article *ngIf="persons && deals">
  <div *ngIf="isEdited">
<!--
    <section>
      <button class="weak-button" (click)="setNewDealType(dealType.OneForAll)"
              [class.active-button]="newDealType === dealType.OneForAll">
        Один за всех
      </button>
      <button class="weak-button" (click)="setNewDealType(dealType.Debtors)"
              [class.active-button]="newDealType === dealType.Debtors"
              disabled>
        Непонятная Васе схема
      </button>
      <hr/>
    </section>
-->
    <section *ngIf="isEdited" [ngSwitch]="newDealType">
      <app-one-for-all-deal-form *ngSwitchCase="dealType.OneForAll" [deal]="newDeal" [update]="addNewDeal()" [reset]="clearDeal()"></app-one-for-all-deal-form>
      <app-debtor-deal-form *ngSwitchCase="dealType.Debtors" [deal]="newDeal"></app-debtor-deal-form>
    </section>
  </div>
  <div class="hint" *ngIf="persons && deals && deals.size === 0">
    <fa-icon [icon]="['fas', 'info-circle']"></fa-icon> После добавления людей здесь можно будет указать покупки в рамках текущего расчёта
  </div>
  <app-deal *ngFor="let deal of deals | keyvalue" [deal]="deal" [persons]="persons"></app-deal>
</article>
