@import "../../../styles";
@import "../../../elements";

article {
  display: flex;
  flex-direction: column;
}

.selected-type {
  background-color: $secondary-color;
}

.deal-type-button:focus {
  outline: none;
}
