@import "../../../styles";
@import "../../../elements";

.selected-type {
  background-color: $secondary-color;
}

.deal-type-button:focus {
  outline: none;
}

#deal-form {
  margin-top: 0;
  display: flex;
  flex-direction: column;
}
