@import "styles";

.card, .active-card {
  padding: $default-padding;
  margin: 4px;
  width: calc(100% - 8px);
  vertical-align: baseline;
  position: relative;
  border-radius: $default-radius;
  border: 1px solid $dark-color-borders;
}

.card {
  line-height: 22px;
}

.active-card {
  background-color: $light-color-pale;
}

.card-controls {
  float: right;
  margin-left: 1em;
  flex-shrink: 0;
  flex-grow: 0;
}

.card-controls fa-icon {
  margin: 4px;
  color: $dark-color-bright;
}

.inline-control {
  vertical-align: baseline;
  color: $dark-color-bright;
  margin: 0;
}

.card-controls fa-icon:hover, .inline-control:hover, .fa-icon-button:hover {
  cursor: pointer;
  color: $secondary-color;
}

.weak-button {
  background-color: inherit;
  color: inherit;
  border: 1px solid $dark-color-borders;
  border-radius: $default-radius;
  padding: 5px;
}

.weak-button:focus {
  outline: none;
  box-shadow: 0 0 0 1px $secondary-color;
}

.active-button {
  background-color: $secondary-color;
  color: $light-color;
}
