<div class="card" *ngIf="deal && !isEdited">
  <header>
    <div class="deal-main-info">
      <div class="deal-name">{{deal.value.name}}</div>
      <div class="deal-price">{{deal.value.amount}}</div>
    </div>
    <div class="card-controls">
      <fa-icon [icon]="['fas', 'pencil-alt']" (click)="edit()"></fa-icon>
      <fa-icon [icon]="['fas', 'times']" (click)="remove()" size="lg"></fa-icon>
    </div>
  </header>
  <ng-container [ngSwitch]="deal.value.type">

    <ng-container *ngSwitchCase="dealType.OneForAll">
      <p><b><i>{{persons.get(deal.value.lender).name}}</i> платит за:</b></p>
      <span *ngFor="let member of deal.value.members; last as isLast"><i>{{persons.get(member).name}}</i><ng-container *ngIf="!isLast">, </ng-container></span>
    </ng-container>

    <ng-container *ngSwitchCase="dealType.Debtors">
    <p *ngFor="let debtor of deal.value.debtors | keyvalue">
      <i>{{persons.get(debtor.key).name}}</i> платит за себя и за
      <span *ngFor="let borrower of debtor.value; last as isLast">
        <i>{{persons.get(borrower).name}}</i><ng-container *ngIf="!isLast">, </ng-container>
      </span>
    </p>
      <p *ngFor="let notDebtor of deal.value.notDebtors()"><i>{{persons.get(notDebtor).name}}</i> платит за себя</p>
    </ng-container>
  </ng-container>
</div>

<div *ngIf="deal && isEdited">
  <ng-container [ngSwitch]="deal.value.type">
    <ng-container *ngSwitchCase="dealType.OneForAll">
      <app-one-for-all-deal-form [deal]="editedDeal" [update]="submit()" [reset]="cancel()"></app-one-for-all-deal-form>
    </ng-container>

    <ng-container *ngSwitchCase="dealType.Debtors">
      <app-debtor-deal-form [deal]="editedDeal"></app-debtor-deal-form>
    </ng-container>
  </ng-container>
</div>
