<div class="card" *ngIf="deal && !isEdited">
  <div class="card-title">
    <div class="deal-name">{{deal.value.name}}</div>
    <div class="deal-price">{{deal.value.price}}</div>
  </div>
  <div class="card-controls">
    <fa-icon [icon]="['fas', 'pencil-alt']" (click)="edit()"></fa-icon>
    <fa-icon [icon]="['fas', 'times']" (click)="remove()" size="lg"></fa-icon>
  </div>
  <ng-container [ngSwitch]="deal.value.type">

    <ng-container *ngSwitchCase="dealType.OneForAll">
      <p><b><a href="#">{{persons.get(deal.value.lender).name}}</a> платит за:</b></p>
      <span *ngFor="let member of deal.value.members; last as isLast"><a href="">{{persons.get(member).name}}</a><ng-container *ngIf="!isLast">, </ng-container></span>
    </ng-container>

    <ng-container *ngSwitchCase="dealType.Debtors">
    <p *ngFor="let debtor of deal.value.debtors | keyvalue">
      <a href="">{{persons.get(debtor.key).name}}</a> платит за себя и за
      <span *ngFor="let borrower of debtor.value; last as isLast">
        <a href="">{{persons.get(borrower).name}}</a><ng-container *ngIf="!isLast">, </ng-container>
      </span>
    </p>
      <p *ngFor="let notDebtor of deal.value.notDebtors()"><a href="">{{persons.get(notDebtor).name}}</a> платит за себя</p>
    </ng-container>
  </ng-container>
</div>

<div *ngIf="deal && isEdited" class="active-card" (keyup.enter)="submit()">
  <ng-container [ngSwitch]="deal.value.type">
    <ng-container *ngSwitchCase="dealType.OneForAll">
      <app-one-for-all-deal-form [deal]="editedDeal"></app-one-for-all-deal-form>
    </ng-container>

    <ng-container *ngSwitchCase="dealType.Debtors">
      <app-debtor-deal-form [deal]="editedDeal"></app-debtor-deal-form>
    </ng-container>
  </ng-container>
  <button class="deal-control-button" type="submit" (click)="submit()">Сохранить</button>
  <button class="deal-control-button" type="reset" (click)="cancel()">Отмена</button>
</div>
