@import "../../../styles";
@import "../../../elements";

.deal-name {
  font-size: $bigger-font-size;
  font-weight: bold;
  display: inline-block;
  vertical-align: baseline;
  margin-right: 5px;
}

.deal-price {
  font-size: $big-font-size;
  border-radius: $default-radius;
  padding: 4px 5px;
  display: inline-block;
  font-weight: bold;
  background-color: $secondary-color;
  color: $light-color;
  vertical-align: baseline;
}
