@import "../../styles";

:host {
  display: block;
  float: left;
  background-color: $light-color-bright;
  padding: $default-padding;
  margin: 1px 0;
  width: 100%;
  vertical-align: baseline;
}

.deal-name {
  font-size: $bigger-font-size;
  font-weight: bold;
  display: inline-block;
  vertical-align: baseline;
}

.deal-price {
  font-size: $big-font-size;
  border-radius: $default-radius;
  padding: 4px 5px;
  display: inline-block;
  font-weight: bold;
  margin: 0 5px;
  background-color: $secondary-color;
  color: $light-color;
  vertical-align: baseline;
}
