<div *ngIf="deal">
  <div class="deal-name">{{deal.name}}</div>
  <div class="deal-price">{{deal.price}}</div>
  <ng-container [ngSwitch]="deal.type">

    <ng-container *ngSwitchCase="dealType.OneForAll">
      <p><b><a href="#">{{persons.get(deal.lender).name}}</a> платит за всех:</b></p>
      <span *ngFor="let member of deal.members; last as isLast"><a href="">{{persons.get(member).name}}</a><ng-container *ngIf="!isLast">, </ng-container></span>
    </ng-container>

    <ng-container *ngSwitchCase="dealType.Debtors">
    <p *ngFor="let debtor of deal.debtors | keyvalue">
      <a href="">{{persons.get(debtor.key).name}}</a> платит за себя и за
      <span *ngFor="let borrower of debtor.value; last as isLast">
        <a href="">{{persons.get(borrower).name}}</a><ng-container *ngIf="!isLast">, </ng-container>
      </span>
    </p>
      <p *ngFor="let notDebtor of deal.notDebtors()"><a href="">{{persons.get(notDebtor).name}}</a> платит за себя</p>
    </ng-container>
  </ng-container>
</div>
