@import "../../styles";

.deal-name, .deal-price {
  font-size: $big-font-size;
  border-radius: $default-radius;
  padding: 7px;
  display: inline-block;
  font-weight: bold;
  margin: 2px;
}

.deal-name {
  background-color: #171444;
  color: $sub-primary-color;
}

.deal-price {
  background-color: $second-accent-color;
  color: $secondary-color;
}
