<div *ngIf="deal">
  <h3>{{deal.name}}</h3>
  <h4>{{deal.price}}</h4>
  <ng-container [ngSwitch]="deal.type">

    <ng-container *ngSwitchCase="dealType.OneForAll">
      <p><b>{{deal.members.get(deal.lender).name}} платит за всех:</b></p>
      <span *ngFor="let member of deal.members | keyvalue; last as isLast">{{member.value.name}}<ng-container *ngIf="!isLast">, </ng-container></span>
    </ng-container>

    <ng-container *ngSwitchCase="dealType.Debtors">
    <div *ngFor="let debtor of deal.debtors | keyvalue">
      {{deal.members.get(debtor.key).name}} платит за себя и за
      <span *ngFor="let borrower of debtor.value; last as isLast">
        {{deal.members.get(borrower).name}}<ng-container *ngIf="!isLast">, </ng-container>
      </span>
      <p *ngFor="let notDebtor of deal.notDebtors() | keyvalue">{{notDebtor.value.name}} платит за себя</p>
    </div>
    </ng-container>
  </ng-container>
</div>
