<div *ngIf="deal">
  <h3>{{deal.name}}</h3>
  <h4>{{deal.price}}</h4>
  <ng-container [ngSwitch]="deal.type">

    <ng-container *ngSwitchCase="dealType.OneForAll">
      <p><b>{{persons.get(deal.lender).name}} платит за всех:</b></p>
      <span *ngFor="let member of deal.members; last as isLast">{{persons.get(member).name}}<ng-container *ngIf="!isLast">, </ng-container></span>
    </ng-container>

    <ng-container *ngSwitchCase="dealType.Debtors">
    <div *ngFor="let debtor of deal.debtors | keyvalue">
      {{persons.get(debtor.key).name}} платит за себя и за
      <span *ngFor="let borrower of debtor.value; last as isLast">
        {{persons.get(borrower).name}}<ng-container *ngIf="!isLast">, </ng-container>
      </span>
    </div>
    <p *ngFor="let notDebtor of deal.notDebtors()">{{persons.get(notDebtor).name}} платит за себя</p>
    </ng-container>
  </ng-container>
</div>
