<div *ngIf="deal && persons">
  <section>
    <input class="deal-name" [(ngModel)]="deal.name" placeholder="Название" required appAutofocus/>
    <input class="deal-price" [(ngModel)]="deal.amount" placeholder="Стоимость" type="number" required/>
  </section>
  <hr/>
  <section>
    <p>
      <label><select [(ngModel)]="deal.lender" required="required">
        <option value="" disabled selected>Кто?</option>
        <option *ngFor="let person of persons | keyvalue" value="{{person.key}}">
          {{person.value.name}}
        </option>
      </select> платит за: </label>
    </p>
    <p class="members-list">
      <ng-container *ngFor="let member of deal.members; last as isLast">
        <button (click)="deleteMember(member)" class="weak-button">
          {{persons.get(member).name}} x
        </button>
        <ng-container *ngIf="!isLast">,</ng-container>
      </ng-container>
    </p>
    <p>
      <ng-container *ngFor="let person of notMembers() | keyvalue; first as isFirst">
        <hr *ngIf="isFirst"/>
        <button class="weak-button" (click)="addMember(person.key)">
          + {{person.value.name}}
        </button>
      </ng-container>
    </p>
  </section>
</div>
