@import "../../../styles";

@media (min-width: 850px) {
  #primary-col {
    width: 70%;
    height: 100%;
    display: block;
    float: left;
  }

  #secondary-col {
    width: 30%;
    height: 100%;
    display: block;
    float: left;
  }

  app-debtors, app-deals, app-transfers {
    display: block;
    box-sizing: border-box;
    overflow-y: auto;
  }

  app-debtors {
    width: 55%;
    height: 100%;
    padding: 0 2 * $default-padding;
    float: right;
  }

  app-deals {
    width: 45%;
    height: 100%;
    float: right;
  }

  app-transfers {
    width: 100%;
    height: 100%;
    float: left;
  }
}


@media (max-width: 849px) {

  #primary-col,  #secondary-col {
    width: 100%;
    display: block;
  }

  app-debtors, app-deals, app-transfers {
    display: flex;
    flex-direction: column;
    margin-bottom: 2 * $default-margin;
    box-sizing: border-box;
    width: 100%;
  }
}
